body
{
    color:blue; 
    text-align: center;
    font-family: "Garamond Bold";
    font-size: 30 px;
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: center;
    border:1px solid #ddd;
    margin: 0 auto;

}
#container h1
{
    font-size: 80 px;
}

